<!DOCTYPE html>
<html>
    <head>


    </head>
    <style>
        .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }


    </style>
    <body style="background-color:#000000;"></body>>

        <div class="center">


            <a href="http://localhost:5000/start">

        <button style = 'background-color:#1DB954;
                        color: 	#FFFFFF;
                        border:none;
                        font-size:45px;
                        font-weight: bold;
                        font-family: Gotham;
                        border-radius: 25%;
                        width: 250px;
                        padding: 20px 24px;'
                    name='start_button'
                    type='button';
                    >
            Start

        </button>
        </a>
        </div>



















    </body>

























</html>



