<!DOCTYPE html>
<html>
    <head>


    </head>
        <style>

            th {
                text-align :"left";
            }


    


        </style>


{% extends "parent.html" %}
{% block content %}
    
<section style= "text-align: center; padding-top: 150px;padding-bottom: 50px;">



    <h4 style="color:#FFFFFF";>
            
        Congratulations... here you have your awesome playlist!

    </h4>

    <div class="column left" >

        <iframe src="https://giphy.com/embed/sp685iuIEGuys" width="480" height="201" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <body style="background-color:#000000; color: white; font-family: Gotham; font-weight: bold"; >
    
            <table>
                <tr>
                    <td><img src="https://png2.cleanpng.com/sh/f7ff3754fac3c50ffa164c789bc0cd72/L0KzQYm3VMI5N5Dsj5H0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TgNpaaNqRdtsb36wcsb7lP9vNaRteeRybnewRbLsVMRjQGU7TKdvMEexRoa6UMk0OWY2TaQ9OUGzSYm3VMEyOV91htk=/kisspng-computer-icons-share-icon-button-sharing-5ae44b84645f07.6530931515249109804111.png" width="80" /></td>
                    <td>{{url_playlist}} </td>  
                </tr>

            </table>

    </div>


    <div class="column right" >



    



        <tbody>
            <tr>
              <td colspan="2">
                <div class="scrollit">
        <table style='width:100% border="2"'>
            <tr>
              <th ></th>
              <th >Title</th>
              <th ></th>Artist</th>
              <th ></th>
              <th >Album</th>
              <th ></th>
            </tr>

            {% for item in info_playlist %}

            <tr>
            <td>{{ loop.index }}</td>
              <td>{{item.song_name}}</td>
              <td>{{item.artist_name}}</td>
              <td><img src="{{item.artist_img}}" width="50" /></td>
              <td>{{item.album_name}}</td>
              <td><img src="{{item.album_img}}" width="50"/></td>
            </tr>


            {% endfor %}
          </table>

                </div>
              </td>
            </tr>
        </tbody>


    </div>

</section>
    {% endblock %}



  


