<!DOCTYPE html>
<html>
    <head>


    </head>
        <style>
 


            hr.new {
            border: 1px solid #1DB954;
            border-radius: 1px;
            margin: 0px 70px;
            }

            .gif {
            background-image:url("https://github.com/sgonzalainen/SpotFeat/blob/main/img/wait.gif?raw=true");
            width:480px;
            height:269px;
            margin-left: auto;
            margin-right: auto;
            
          }
            



        </style>





{% extends "parent.html" %}
{% block content %}


<section style= "text-align: center; padding-top: 150px;padding-bottom: 50px;">

    <p style = "font-size: 30px";>

        Awesomeness takes time. Just hold on a bit, your top songs will be ready shortly.

    </p>


    <hr class="new">



</section>




    <section style= "text-align: left; padding-top: 40px;padding-bottom: 50px;">

        <div class= "gif"></div>
  </video>





</section>



{% endblock %}
